doctype html
html(lang="en")
  head
    title= "Javascript Programming Contest"
    script(type="text/javascript", href="js/src.js")
  body
    h2= "Javascript Programming Contest"
    div#challenge
      p= "Welcome to the JavaScript Challenge!"
      p You are logged in as #{user.username}
      a(href="/logout") Log out