extends layout

block styles
  link(rel="stylesheet", type="text/css", href="bower_components/codemirror/lib/codemirror.css")
  link(rel="stylesheet", type="text/css", href="bower_components/codemirror/theme/solarized.css")

block scripts  
  script(type="text/javascript", src="js/libs.js")
  script(type="text/javascript", src="js/templates.js")
  script(type="text/javascript", src="js/src.js")

block content
  section.challenge
