doctype html
html(lang="en")
  head
    title= "JS Challenge"
    link(rel="stylesheet", type="text/css", href="css/style.css")
    block styles
    block scripts

  body
    section#container
      section#header
        include header

      section#content(role="main")
        block content
      
      section#footer
        include footer
        
