extends layout

block content
  section.login
    h4 Log in
    div.message= message
    form(action="/login", method="post")
      input(type="text", name="username", placeholder="Username", autofocus="autofocus")
      input(type="password", name="password", placeholder="Password")
      span
        a(href="/signup")= "Register"
        button(type="submit")= "Log in"