extends layout

block content
  div= message
  form(action="/signup", method="post")
    input(type="text", name="username", placeholder="Username")
    br
    input(type="password", name="password", placeholder="Password")
    br
    span
      a(href="/")= "Go to login"
    button(type="submit")= "Sign up"