extends layout

block scripts
  script(type="text/javascript", src="js/libs.js")
  script(type="text/javascript", src="js/src.js")

block content
  section.signup
    h4 Register User
    div.message= message
    form(action="/signup", method="post")
      input(type="text", name="username", placeholder="Username", autofocus="autofocus")
      input(type="password", name="password", placeholder="Password")
      input(type="password", name="passconfirm", placeholder="Confirm Password")
      span
        a(href="/")= "Go to login"
        button(type="submit")= "Sign up"