<section class="problemarea">
  <article class="problemtext">
    <h2 class="title">Exercise - {{title}}</h2>
    {{description}}
  </article>
  <section class="solution">
    <pre><code>{{precode}}</code></pre>
    <section class="editor"></section>
    <pre><code>{{postcode}}</code></pre>
  </section>
</section>
<aside class="testarea">
  <h2>Test Results</h2>
</aside>