<section class="problemarea">
  <section class="problemtext">
    <h2 class="title">{{title}}</h2>
    <article class="description">{{description}}</article>
  </section>
  <pre><code>function add(x, y) {</code></pre>
  <section class="editor"></section>
</section>
<aside class="testarea">
  <h2>Test Results</h2>
</aside>